<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Athlete_Servlet</servlet-name>
        <servlet-class>Controlador.Athlete_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attendance_Servlet</servlet-name>
        <servlet-class>Controlador.Attendance_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Coach_Servlet</servlet-name>
        <servlet-class>Controlador.Coach_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Espalda_Servlet</servlet-name>
        <servlet-class>Controlador.Espalda_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graficas</servlet-name>
        <servlet-class>Controlador.Graficas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrficaFiltrosSv</servlet-name>
        <servlet-class>Controlador.GrficaFiltrosSv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Libre_Servlet</servlet-name>
        <servlet-class>Controlador.Libre_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Servlet</servlet-name>
        <servlet-class>Controlador.Login_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Management_Servlet</servlet-name>
        <servlet-class>Controlador.Management_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pecho_Servlet</servlet-name>
        <servlet-class>Controlador.Pecho_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wall_Servlet</servlet-name>
        <servlet-class>Controlador.Wall_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment_Servlet</servlet-name>
        <servlet-class>Controlador.Comment_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request_Servlet</servlet-name>
        <servlet-class>Controlador.Request_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temporary_profile</servlet-name>
        <servlet-class>Controlador.Temporary_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Temporary_Profile_Servlet</servlet-name>
        <servlet-class>Controlador.Temporary_Profile_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Servlet</servlet-name>
        <servlet-class>Controlador.Register_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventoSv</servlet-name>
        <servlet-class>Controlador.EventoSv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Athlete_Servlet</servlet-name>
        <url-pattern>/Athlete_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attendance_Servlet</servlet-name>
        <url-pattern>/Attendance_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Coach_Servlet</servlet-name>
        <url-pattern>/Coach_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Espalda_Servlet</servlet-name>
        <url-pattern>/Espalda_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graficas</servlet-name>
        <url-pattern>/Graficas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrficaFiltrosSv</servlet-name>
        <url-pattern>/GrficaFiltrosSv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Libre_Servlet</servlet-name>
        <url-pattern>/Libre_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Servlet</servlet-name>
        <url-pattern>/Login_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Management_Servlet</servlet-name>
        <url-pattern>/Management_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pecho_Servlet</servlet-name>
        <url-pattern>/Pecho_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wall_Servlet</servlet-name>
        <url-pattern>/Wall_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment_Servlet</servlet-name>
        <url-pattern>/Comment_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request_Servlet</servlet-name>
        <url-pattern>/Request_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temporary_profile</servlet-name>
        <url-pattern>/Temporary_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Temporary_Profile_Servlet</servlet-name>
        <url-pattern>/Temporary_Profile_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Servlet</servlet-name>
        <url-pattern>/Register_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventoSv</servlet-name>
        <url-pattern>/EventoSv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
